export default defineAppConfig({
  pages: ["pages/index/index"],
  window: {
    backgroundTextStyle: "light",
    navigationBarBackgroundColor: "#4F46E5",
    navigationBarTitleText: "[[.Name]]",
    navigationBarTextStyle: "white",
  },
});
